.wrap{
    display: flex;
}.Header
{
    position: fixed;
    background-color: white;
    border: 2px solid black;
    height: 740px;
    width: 18%;
}
.title
{
    color:  #58CC02;
    margin-top: 15%;
    margin-left: 15%;
    font-family: 'Brush Script MT', cursive;
}
.cards
{
    
    width: 100%;
    margin-top: 10%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
}
.btn
{
    width: fit-content;
    margin: 5%;
    padding: 5%;
    display: flex;
    /* border: 2px solid black; */
    height: fit-content;
}
.txt
{
    margin-top: 5%;
    margin-left: 0%;
    font-size: 15px din-round;
    font-family: sans-serif;
}
.im
{
    width: 25px;
    height: 25px;
}
.welcome{
    background-color: #58CC02;
    color:white;
    border-radius: 13PX;
    padding: 22px 16px;
    row-gap: 6px;  
     height: 80px;
    width: 730px;
    margin-top: 40px;
    margin-left: 380px;
 
}
.wlh{
    font: 25px din-round,sans-serif;
}
.wlt{
    font: 19px din-round,sans-serif;
}
.greet-person-home{
       margin-top: 40px;
       color:blue;
       margin-left: 40%;
}
::-webkit-scrollbar{
    width: 15px;

}
::-webkit-scroll-track{
    background: #d1e5ff;
}
::-webkit-scrollbar-thumb{
    background:linear-gradient(#642bff,#ff22e6) ;
    border-radius:5px;
}
.progress{
  margin-top: 100px;
  margin-left: 300px;

}

.l1
{  margin-top:0%;
    width: 130px;
    height: 130px;
    
}
.l1:hover{width: 140px;height: 140px;}
.pi{
    width:25px;
    height:25px;
}
.l2{
    margin-top: 30px;
    margin-left: 250px;
    width: 110px;
    height: 110px;
}
.l3{
    margin-top: 30px;
    margin-left: 290px;
    width: 110px;
    height: 110px;
}
.l4{
    margin-top: 20px;
    margin-left: 200px;
    width: 110px;
    height: 110px;
}
.l5{
    margin-top: 20px;
    margin-left: 290px;
    width: 110px;
    height: 110px;

}
/*.l2:hover{width: 120px;height:120px;}*/
.unit{
    background-color: purple;
    color:white;
    border-radius: 13PX;
    padding: 22px 16px;
    row-gap: 6px;  
     height: 80px;
    width: 730px;
    margin-top: 40px;
    margin-left: 0px;
 
}
.nextunit{
    background-color: aqua;
    color:black;
    border-radius: 13PX;
    padding: 22px 16px;
    row-gap: 6px;  
     height: 80px;
    width: 730px;
    margin-top: 40px;
    margin-left: 0px;
 
}

.aboutus{
    margin-top:600px;
    margin-left: 100px;
}
.blog{
    margin-top: 600px;
    margin-left: 20px;
}