.Header
{background-color: black;}
.db{
    margin-top:10PX;
    height: 50px;
    width: 250px;
    background-color:aqua;

}


.lb{
    margin-top:20PX;
    height: 50px;
    width: 250px;
    background-color: aqua;
    

}
.profile{
    margin-top:20PX;
    height: 50px;
    width: 250px;
    background-color: aqua;

}
.ac{
    margin-top:20PX;
    height: 50px;
    width: 250px;
    background-color: aqua;

}
.logout{
    margin-top:20PX;
    height: 50px;
    width: 250px;
    background-color: aqua;

}




