.wrap{
    display: flex;
}.Header
{
    background-color: white;
    border: 2px solid black;
    height: 740px;
    width: 18%;
}
.title
{
    color: rgb(145, 237, 8);
    margin-top: 15%;
    margin-left: 15%;
    font-family: sans-serif;
}
.cards
{
    
    width: 100%;
    margin-top: 10%;
    max-height: fit-content;
    display: flex;
    flex-direction: column;
}
.btn
{
    width: fit-content;
    margin: 5%;
    padding: 5%;
    display: flex;
    /* border: 2px solid black; */
    height: fit-content;
}
.txt
{
    margin-top: 5%;
}
.im
{
    width: 25px;
    height: 25px;
}
.welcome{
    background-color: #58CC02;
    border-radius: 13PX;
    padding: 22px 16px;
    row-gap: 6px;  
     height: 80px;
    width: 750px;
    margin-top: 60px;
    margin-left: 130px;
 
}
.greet-person-home{
    margin-top: 10px;
       color:blue;
       margin-left: 0%;
}
